/* font */
@font-face {
  font-family:font_ns;
  font-weight:normal;
  src:local(※);
	src: url(../font/NotoSansKR-Regular.eot);
	src: url(../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSansKR-Regular.woff) format('woff'),
	url(../font/NotoSansKR-Regular.ttf) format('truetype');
}
@font-face {
  font-family:font_ns;
  font-weight:300;
  src:local(※);
	src: url(../font/NotoSansKR-Medium.eot);
	src: url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSansKR-Medium.woff) format('woff'),
	url(../font/NotoSansKR-Medium.ttf) format('truetype');
}
@font-face {
  font-family:font_ns;
  font-weight:bold;
  src:local(※);
	src: url(../font/NotoSansKR-Bold.eot);
	src: url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
	url(../font/NotoSansKR-Bold.woff) format('woff'),
	url(../font/NotoSansKR-Bold.ttf) format('truetype');
}
@font-face {
  font-family:font_sw;
  font-weight:normal;
  src:local(※);
	src: url(../font/Subway-SixInch.eot);
	src: url(../font/Subway-SixInch.eot?#iefix) format('embedded-opentype'),
	url(../font/Subway-SixInch.woff) format('woff'),
	url(../font/Subway-SixInch.ttf) format('truetype');
}
@font-face {
  font-family:font_sw;
  font-weight:bold;
  src:local(※);
	src: url(../font/Subway-Footlong.eot);
	src: url(../font/Subway-Footlong.eot?#iefix) format('embedded-opentype'),
	url(../font/Subway-Footlong.woff) format('woff'),
	url(../font/Subway-Footlong.ttf) format('truetype');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	line-height: 120%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: font_ns, sans-serif;
	font-size: 16px;
	color: #666666;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
 	text-decoration: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

:focus-visible {
	outline: 2px solid blue;
	outline-offset: -2px;
}